<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <caching>
      <outputCache enableOutputCache="false" />
    </caching>
    <compilation debug="true" />
  </system.web>
  <system.webServer>
    <caching enabled="false" />
    <directoryBrowse enabled="true" />

    <staticContent>
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />

      <!--<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
      <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
      <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />

      <mimeMap fileExtension=".oga" mimeType="audio/ogg" />
      <mimeMap fileExtension=".spx" mimeType="audio/ogg" />-->

      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <handlers>      
      <!--<add name="del" path="/del" verb="POST" type="web.DEL, web" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="user" path="/user" verb="GET,POST" type="web.User, web" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="img" path="/img" verb="GET,POST" type="web.Img, web" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="api" path="/api" verb="GET,POST" type="web.Api, web" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="page" path="/*.html" verb="GET" type="web.Page, web" resourceType="Unspecified" requireAccess="Read" preCondition="integratedMode" />-->
    </handlers>
  </system.webServer>
</configuration>